/* -----------------------Music Player-1-------------------- */
.mobile {
  height: 480px;
  width: 300px;
  border-top: 30px groove rgb(0, 255, 85);
  border-bottom: 30px ridge rgb(0, 255, 85);
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgb(179, 174, 174);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
}
header {
  width: 100%;
  height: 70%;
  background: url(image/music-wave1.png);
  background-size: 100% 85%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.music-name {
  width: 70%;
  text-align: center;
  color: rgb(255, 255, 255);
  position:absolute;
  /* bottom: -48px; */
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: fantasy;
  font-style: italic;
  font-size: 18px;
}
footer {
  width: 100%;
  height: 30%;
  background: url(image/music-wave3.png);
  background-repeat: no-repeat;
  background-position:-109px -38px;
  background-size: 510px;
}
#controls {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:relative;
}
#play-botton {
  height: 50px;
  width: 50px;
  background: #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress {
  width: 70%;
  height: 5px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 15px;
  border-radius: 10px;
}
/*--------------------------Music Player-2--------------------------------*/
.mp4 {
  height: 480px;
  width: 300px;
  border-top: 30px groove #b96a76;
  border-bottom: 30px ridge #b96a76;
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgb(179, 174, 174);
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 17.5%;
  left:15%;
}
#header {
  width: 100%;
  height: 70%;
  background: url(image/music-wave2.png);
  background-size: 380px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.music-name1 {
  width: 70%;
  text-align: center;
  color: rgb(255, 255, 255);
  position:absolute;
  /* bottom: -48px; */
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: fantasy;
  font-style: italic;
  font-size: 18px;
}
.footer {
  width: 100%;
  height: 30%;
  background: url(https://i.pinimg.com/736x/01/99/5a/01995a164f3d84c87d67c3e5e850048a.jpg);
  background-repeat: no-repeat;
  background-position: 0px 28px;
  background-size: cover;
}
.controls {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:relative;
}
.progress1 {
  width: 70%;
  height: 5px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 15px;
  border-radius: 10px;
}
#play-botton3 {
  height: 57px;
  width: 57px;
  background: #ddd;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------------------Music Player-3------------------------------- */
.mp43 {
  height: 480px;
  width: 300px;
  border-top: 30px groove rgb(255,0,0);
  border-bottom: 30px ridge rgb(255,0,0);
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgb(179, 174, 174);
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 17.5%;
  left:64%;
}
#header13 {
  width: 100%;
  height: 70%;
  background: url(image/music_wave.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.music-name13 {
  width: 70%;
  text-align: center;
  color: rgb(255, 255, 255);
  position:absolute;
  /* bottom: -48px; */
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: fantasy;
  font-style: italic;
  font-size: 18px;
}
.footer3 {
  width: 100%;
  height: 30%;
  background: url(https://i.pinimg.com/736x/01/99/5a/01995a164f3d84c87d67c3e5e850048a.jpg);
  background-repeat: no-repeat;
  background-position: 0px 28px;
  background-size: cover;
}
.controls3 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:relative;
}
.progress13 {
  width: 70%;
  height: 5px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 15px;
  border-radius: 10px;}

  #play-botton {
    height: 50px;
    width: 50px;
    background: #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }